{{!-- <p>Connected to server (from index.handlebars file)</p> --}}

<div class="containter">

  {{!-- <h1>Eat-Da-Burger!</h1>
  <br> --}}
<br>
  <div class="row">

    {{!-- <div class="col-md-4"></div> --}}

    <div class="col-md-4">

      <h3>Add a Burger</h3>
      <p>Enter a burger you'd like to eat.</p>

      <div class="row">
        {{!-- <div class="col-md-12"> --}}
          {{!-- <form class="create-form add-burger" action="/burgers" method="POST">
            <div class="form-group">
              <input type="text" id="burger_name" name="burger" placeholder="Name of Burger">
              <button class="btn btn-primary btn-sm" type="submit btn-primary">Add burger</button>
              <p>Enter a burger you'd like to eat.</p>
          </form> --}}

          <form class="form-inline" action="/burgers" method="POST">
            {{!-- <div class="form-group mb-2">
              <label for="staticEmail2" class="sr-only">Email</label>
              <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
            </div> --}}
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">Password</label>
              <input type="text" class="form-control" id="burger_name" name="burger" placeholder="Name of Burger">
            </div>
            <button type="submit btn-primary" class="btn btn-primary mb-2">Add a burger</button>
            {{!-- <p>Enter a burger you'd like to eat.</p> --}}
          </form>


          <br>
          {{!--
        </div> --}}
      </div>

    </div>

    {{!-- <div class="col-md-4"></div> --}}

  </div>
  <br>

  {{!-- <img src="/assets/img/burger.png" id="burger"> --}}
  <br>

  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item active">Burgers that are not devoured</li>
        <li class="list-group-item">

          {{#each burgerData}}
          {{#unless this.devoured}}
          <p>{{this.burger_name}}</p>
          {{!-- <p>{{this.id}}. {{this.burger_name}}</p> --}}
          {{!-- <form method="POST" action="/burgers/update?_method=PUT"> --}}
            <form action="/{{this.id}}?_method=PUT" method="POST"></form>
            <input type="hidden" name="devoured" value="1">
            <button class="btn btn-primary btn-sm" id="devour" type="submit">Devour it!</button>
          </form>
          {{/unless}}
          {{/each}}

          {{#each burgers}}
          {{#if this.devoured}}
          <p class="eaten">{{this.id}}. {{this.burger_name}}</p>
          {{/if}}
          {{/each}}

        </li>
        {{!-- <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li> --}}
      </ul>
    </div>
    <div class="col-md-4" id="burgerDiv">
      <img src="/assets/img/burger.png" id="burger">
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger">Burgers that are devoured</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>


  {{!-- <h2>Burgers that are not devoured!</h2> --}}

  {{!-- <ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
  </ul>

  <ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
  </ul> --}}

  {{!-- <ul>
    {{#each burgerData}}
    {{#unless this.devoured}}
    <p>{{this.burger_name}}</p> --}}
    {{!-- <p>{{this.id}}. {{this.burger_name}}</p> --}}
    {{!-- <form method="POST" action="/burgers/update?_method=PUT"> --}}
      {{!-- <form action="/{{this.id}}?_method=PUT" method="POST"></form>
      <input type="hidden" name="devoured" value="1">
      <button type="submit">Devour it!</button>
    </form>
    {{/unless}}
    {{/each}}

    {{#each burgers}}
    {{#if this.devoured}}
    <p class="eaten">{{this.id}}. {{this.burger_name}}</p>
    {{/if}}
    {{/each}} --}}

    {{!-- {{#each burgers}}
    {{#unless this.devoured}}
    <form action="/{{this.id}}?_method=PUT" method="POST">
      <p class="uneaten">{{this.id}}. {{this.burger_name}}
        <input type="hidden" name="devoured" value="1">
        <button class="btn-primary" type="submit">Devour It!</button></p>
    </form>
    {{/unless}}
    {{/each}} --}}

    {{!-- </ul> --}}


  {{!-- <div class="row">

    <div class="col-md-4"></div>

    <div class="col-md-4">
      <br>
      <h3>Add a Burger</h3>

      <div class="row">
        <div class="col-md-12">
          <form class="create-form add-burger" action="/burgers" method="POST">
            <div class="form-group">
              <input type="text" id="burger_name" name="burger" placeholder="Name of Burger">
              <button type="submit btn-primary">Add burger</button>
              <p>Enter a burger you'd like to eat.</p>
          </form>
        </div>
      </div>

    </div>

    <div class="col-md-4"></div>


  </div> --}}


</div>